<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="imagenes/iconpage.png">
    <link rel="stylesheet" href="css/style.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="js/misFunciones.js"></script>
    <title> Calculadora de SupVol</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="index.html" class="brand-logo center"><i class="material-icons">home</i>Inicio</a>
        </div>
    </nav>
    <section>
        <div class="parallax-container center valign-wrapper">
            <div class="container">
                <div class="row">
                <div class="col s12 white-text">
                    <h2 class="teal-text teal-text lighten-2">Calculadora de Superficies y Volumenes</h2>
                    <p>Un programa diseñado para calcular la superficie y volumenes de distintas
                        figuras geometricas.
                    </p>
                    <a href="superficie.html" class="waves-effect waves-light btn-large teal lighten-2">Superficies</a>
                    <a href="volumenes.html" class="waves-effect waves-light btn-large teal lighten-2">Volúmenes</a>
                </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="page-footer orange">
            <div id="divGen" class="container">
            <div id="divGen" class="row">
                <div id="divGen" class="col l6 s12">
                <p class="grey-text text-lighten-4">Proyecto de Laboratorio de Computacion II de Matias Boldini</p>
                <p><a class="white-text" href="https://github.com/MatiasBoldini">MatÍas Boldini</a></p>
                </div>
                <div id="divGen" class="col l3 s12">
                <h5 id="titFooter">Profesores</h5>
                <ul>
                    <li><a class="white-text" href="https://github.com/edme88">Agustina Edmé Aliciardi</a></li>
                    <li><a class="white-text" href="https://github.com/rmarku">Martín Ricardo Marcucci</a></li>
                </ul>
                </div>
            </div>
            </div>
    </footer>
</body>
</html>