<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="imagenes/iconpage.png">
    <link rel="stylesheet" href="css/style.css">
    <!-- Compiled and minified CSS -->  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title> Calculadora de Superficies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="js/misFunciones.js"></script>
</head>
<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a href="cuadrado.html" class="brand-logo"><i class="material-icons">arrow_back</i></a>
            <a id="logo-container" href="index.html" class="brand-logo center"><i class="material-icons">home</i>Inicio</a>
        </div>
    </nav>
    <section>
        <div class="row center">
            <header>
                <h1 id="mainTitulo">Teoria de los Triangulos</h1>
            </header>
        <div class="card center">
            <div class="card-image waves-effect waves-block waves-light">
              <img id="imgCir" class="activator" src="imagenes/cuadrado.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Cuadrado, con sus lados paralelos e iguales, y sus cuatro ángulos rectos.<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Definicion<i class="material-icons right">close</i></span>
              <p>Un cuadrado es una figura geométrica plana que consiste en cuatro puntos unidos por segmentos de igual medida, que encierran una región del plano, formando ángulos rectos.</p>
            </div>
          </div>
        </div>
    </section>
    <section>
        <div class="row center">
            <a href="https://es.wikipedia.org/wiki/Cuadrado#Propiedades" class="waves-effect waves-teal btn-flat">Propiedades de los cuadrados</a>
        </div>
    </section>
    <footer class="page-footer orange">
        <div id="divGen" class="container">
            <div id="divGen" class="row">
                <div id="divGen" class="col l6 s12">
                    <p class="grey-text text-lighten-4">Proyecto de Laboratorio de Computacion II de Matias Boldini</p>
                    <p><a class="white-text" href="https://github.com/MatiasBoldini">MatÍas Boldini</a></p>
                </div>
                <div id="divGen" class="col l3 s12">
                    <h5 id="titFooter">Profesores</h5>
                    <ul>
                        <li><a class="white-text" href="https://github.com/edme88">Agustina Edmé Aliciardi</a></li>
                        <li><a class="white-text" href="https://github.com/rmarku">Martín Ricardo Marcucci</a></li>
                    </ul>
                </div>
            </div>
        </div>
</footer>
</body>
</html>